services:
  node-app:
    build:
      context: .
      target: prod
    volumes:
      - sqlite-data:/app/database
    command: npm start

  redis-cache:
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes --appendfsync everysec --save 900 1 --save 300 10 --save 60 10000

volumes:
  redis-data:
  sqlite-data:
